{% extends 'layout.html' %}

{% block title %}
    <title>pretty num</title>
{% endblock %}


{% block content %}
    <div class="container">

        <div style="margin-bottom: 10px" class="clearfix">
            <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal"
                    data-bs-target="#addingModal">新建靓号
            </button>
            <div class="modal fade" id="addingModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Mobile</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" novalidate>
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="mb-3">
                                        <label class="col-form-label">{{ field.label }}:</label>
                                        {{ field }}
                                        <!--<input type="text" class="form-control" placeholder="name" name="user_name">-->
                                        <span style="color: red">{{ field.errors.0 }}</span>
                                    </div>
                                {% endfor %}
                                <div class="modal-footer">
                                    <button type="submit" name="add_number" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div style="float: right; width: 300px">
                <form method="get" action="/number/list/1?query={{ search_data }}">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search number"
                               name="query" value={{ search_data }}>
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <i class="bi bi-list-ul"></i>
                靓号列表
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Number</th>
                    <th scope="col">Price</th>
                    <th scope="col">Level</th>
                    <th scope="col">Status</th>
                    <th scope="col">Operation</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th scope="row">{{ obj.id }}</th>
                        <td>{{ obj.mobile }}</td>
                        <td>{{ obj.price }}</td>
                        <td>{{ obj.get_level_display }}</td>
                        <td>{{ obj.get_status_display }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm"
                                    data-bs-toggle="modal" data-bs-id="{{ obj.id }}"
                                    data-bs-target="#editModal">编辑
                            </button>
                            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Number</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post">
                                                {% csrf_token %}
                                                {% for field in form %}
                                                    <div class="mb-3">
                                                        <label class="col-form-label">{{ field.label }}:</label>
                                                        {{ field }}
                                                        <!--<input type="text" class="form-control" placeholder="name" name="user_name">-->
                                                        <span style="color: red">{{ field.errors.0 }}</span>
                                                    </div>
                                                {% endfor %}
                                                <div class="mb-3">
                                                    <input type="hidden" name="number_id_editing">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" name="edit_number" class="btn btn-primary">
                                                        Save
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {#                            <a class="btn btn-primary btn-sm" href="#">编辑</a>#}
                            <a class="btn btn-danger btn-sm"
                               href="/number/{{ page_obj.number }}/delete/{{ search_data }}?nid={{ obj.id }}">
                                删除
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
{% endblock %}

{% block pagination %}
{#    前一页#}
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="{% url 'nums-by-page' page_obj.previous_page_number %}?query={{ search_data }}">
                Previous
            </a>
        </li>
    {% endif %}
{#    中间#}
    {% for page_number in page_obj.adjusted_elided_pages %}
        {% if page_number == page_obj.paginator.ELLIPSIS %}
            {{ page_number }}
        {% else %}
            <li class="page-item {% if page_number == page_obj.number %}active{% endif %}">
                <a
                        class="page-link {% if page_number == page_obj.number %}current{% endif %}"
                        href="{% url 'nums-by-page' page_number %}?query={{ search_data }}">
                    {{ page_number }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{#    后一页#}
    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="{% url 'nums-by-page' page_obj.next_page_number %}?query={{ search_data }}">
                Next
            </a>
        </li>
    {% endif %}
{% endblock %}


{% block script %}
    <script type="text/javascript">
        const editModal = document.getElementById('editModal')
        editModal.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            const number_id = button.getAttribute('data-bs-id')
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            // Update the modal's content.
            // const modalBodyInput = editModal.querySelector('.modal-body input[type="text"]')
            const modalHiddenInput = editModal.querySelector('.modal-body input[name="number_id_editing"]')

            modalHiddenInput.value = number_id
        })
    </script>
{% endblock %}
